@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Nunito Sans', sans-serif;
}

app-sidebar {
  position: absolute;
  left: 0rem;
  width: 250px;
  height: calc(106.4vh - 4rem);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(34, 34, 34, 1);
}

.display-area {
  position: absolute;
  left: 250px;
  padding-left: 27.5px;
  width: calc(100% - 280px);
}

@media screen and (min-width: 768px){
  app-sidebar {
    height: calc(108vh - 4rem);
  }
}
