<div class="side-nav-content">

  <div class="mb-4 text-center">
      <img src="../../../assets/img/logo2.png"  style="background-color: white;" class="user-img">

  </div>

  <ul class="nav-list">

      <li class="nav-list-item" routerLinkActive="sidebar-item-active">
          <i class="lni lni-home"></i>
          <span>
              <a routerLink="/home">Inicio</a>
          </span>
      </li>

      <li class="nav-list-item" routerLinkActive="sidebar-item-active">
        <i class="lni lni-chef-hat"></i>
          <span>
              <a routerLink="/cocinero">Cocineros</a>
          </span>
      </li>

      <li class="nav-list-item" routerLinkActive="sidebar-item-active">
        <i class="lni lni-list"></i>
          <span>
              <a routerLink="/receta">Recetas</a>
          </span>
      </li>

      <li class="nav-list-item" routerLinkActive="sidebar-item-active">
        <i class="lni lni-list"></i>
          <span>
              <a routerLink="/preparacion">Pedidos</a>
          </span>
      </li>

      <li class="nav-list-item">
          <i class="lni lni-arrow-right-circle"></i>
          <span>
              <a href="" (click)="logout()">Cerrar Sesión</a>
          </span>
      </li>

  </ul>

</div>
